<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968434888103-tmus86m96t5rjs43aakbm1j27lppdo4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968434888103-tmus86m96t5rjs43aakbm1j27lppdo4t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>968434888103-11m060g15iigp8nt51nm23up6b2qi6b5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDze6bViHfgLM5rxjn0f4Q74uYJ-DtGMNk</string>
	<key>GCM_SENDER_ID</key>
	<string>968434888103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teamChatApp</string>
	<key>PROJECT_ID</key>
	<string>teamchatapp-fe981</string>
	<key>STORAGE_BUCKET</key>
	<string>teamchatapp-fe981.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968434888103:ios:9167d812c0bf47d2ce9a82</string>
</dict>
</plist>